XML/bookstore.dtd

<?xml version="1.0"?>
<!DOCTYPE bookstore [
<!ELEMENT bookstore(book+)>
<!ELEMENT topic (name, book*)>



<!ELEMENT name (#PCDATA)>

<!ELEMENT book (titile,aurthor)>

<!ELEMENT titile (#CDATA)>

<!ELEMENT aurthor (#CDATA)>


<!Attlist book isbn #FIXED "121">

<!Attlist book category #PCDATA "REQUIRED">

<!Attlist book price #PCDATA "REQUIRED">

]>